main { 
   .title{
    margin-top: 0%;
    .information{
       .informationTitle{
        margin-top: 10%;
        margin-bottom: 10%;
       }
      .container {
        text-align: center;
       
        
      
        h1 {
          font-size: 3rem;
          margin: 1rem;
          margin-bottom: 100px;
        }
      }
    }
    }
  }