main { 
   .title{
    margin-top: 0%;
    .information{
       .informationTitle{
        text-align: center;
        margin-top: 10%;
       
       }
      .container {
        text-align: center;
        
        .vi{
          margin-top: 50px;
        }
        
      
        h1 {
          font-size: 3rem;
          margin: 1rem;
          margin-bottom: 100px;
        }
      }
    }
    }
  }