.card {
  position: relative;
  width: 180px;
  height: 204px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;



  @media (max-width: 400px) {
    width: 100%;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 20px;
    }

h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family:'Trajan Pro', sans-serif;
 color: #0c0821;
    @media (max-width: 630px) {
        line-height: 30px;
    }
}



}

.card:hover {
  transform: translateY(-20px);
}

.card::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  border-radius: 1rem;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

.card span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color:#D4D4D4;
  border-radius: 1rem;
  z-index: 2;
}

.card span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.card .content {
  position: relative;
  padding: 5px;
  z-index: 10;
  width: 100%;
  height: 100%;
  
  text-align: center;
  margin: 0.5rem 0;
  border-radius: 1rem;
}